{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if category %}
        {{ category.name}}
    {% else %}
        Продукти
    {% endif %}
{% endblock title %}

{% block content %}

 <div class="container">
    <div id="sidebar">
        <form action="{% url 'shop:filter_by_price' %}" method="get">
        <label for="min_price">Від:</label>
        <input type="number" id="min_price" name="min_price" value="{{ request.GET.min_price }}">
        <br>    
        <label for="max_price">До:</label>
        <input type="number" id="max_price" name="max_price" value="{{ request.GET.max_price }}">
        <br>  
        <button id="filter" class="btn btn-light rounded-pill px-3" type="submit">Фільтр</button>
        </form>
        <br>
        <h3>Категорії</h3>
        <ul id="categories">
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">Усі товари</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
   

     <div class="col-sm-12">
       <div class="row">

         {% for product in products %}
         <div class="col-md-4 mb-4">
           <div class="card h-100">
            <a href="{{ product.get_absolute_url }}">
                <img class="card-img-top" src="{% if product.image %}
                    {{ product.image.url }}
                {% else %}
                    {% static 'img/no_image.png' %}
                {% endif %}" alt="">
            </a>
             <div class="card-body">
               <h4 class="card-title">
                 <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
               </h4>
               <h5>₴{{ product.price }}</h5>
               <p class="card-text">{{ product.name }}</p>
             </div>
             <div class="card-footer">
               <small class="text-muted">{{ product.category }}</small>
             </div>
           </div>
         </div>
         {% endfor %}

       </div>
     </div>

   </div>


 </div>

{% endblock content %}