{% extends 'shop/base.html' %} {% load static %}
<link rel="stylesheet" href="{%static 'css/base.css'}">
{% block content %}
<h1>Пошук</h1>
<p>Результати пошуку "{{ query }}":</p>
{% if results %}
<div class="container">
      <div class="col-sm-12">
       <div class="row">
        {% for product in results %}
         <div class="col-md-3 mb-3">
           <div class="card h-100">
            <a href="{{ product.get_absolute_url }}">
                <img class="card-img-top" src="{% if product.image %}
                    {{ product.image.url }}
                {% else %}
                    {% static 'img/no_image.png' %}
                {% endif %}" alt="">
            </a>
             <div class="card-body">
               <h4 class="card-title">
                 <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
               </h4>
               <h5>₴{{ product.price }}</h5>
               <p class="card-text">{{ product.name }}</p>
             </div>
             <div class="card-footer">
               <small class="text-muted">{{ product.category }}</small>
             </div>
           </div>
         </div>
         {% endfor %}
       </div>
     </div>
   </div>
 </div>
     
    {% else %}
        <p>Такого товару немає</p>
    {% endif %}
{% endblock content %}